html
{
	margin: 0;
	padding: 0;
	font-family: "droid sans", "sans-serif";
}

body
{
	margin: 0;
	padding: 0;
	background-color: #EEEEEE;
	text-align: center;
}

div
{
	vertical-align: top;
}

h1
{
	font-weight: normal;
}
